* {
    box-sizing: border-box;
    margin: 2px;
    border-radius: 5px;
    align-self: center;
    font-family: 'Roboto Slab', serif;
    color: #090909;
}

html {
    background: url("./img/europe-map.avif") no-repeat, center;
    background-size: cover;
    height: 100%;
}

.contener {
    position: relative;
    display: grid;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: stretch;
    justify-items: center;
}

.resetBtn,
.MBtn {

    width: 100%
}

button,
input {
    text-align: center;
    font-size: 35px;

    width: 5rem;
    height: 5rem;
}