* {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin-top: 10px;
    color: #090909;
}

html {
    background: url("./img/europe-map.avif") no-repeat, center;
    background-size: cover;
    height: 100%;
}

.contener {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}

.btmMain {

    margin-top: 28px;
    text-align: center;
    font-size: 35px;
    border-radius: 7px;
    height: 5rem;
    opacity: 0.7;
}

@media only screen and (max-width: 500px) {
    * {
        font-size: 20px;
    }

    img {
        max-width: 35%;
    }
}