* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-family: 'Roboto Slab', serif;
    color: #090909;

}

html {
    background: url("./img/europe-map.avif") no-repeat, center;
    background-size: cover;
    height: 100%;
}

.gpsText {
    color: #0818f3;
}


.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-items: baseline;

}


.contaner {
    position: relative;
    display: grid;
    justify-items: center;
    align-content: stretch;
    justify-content: space-around;
    width: 100%;
    align-items: stretch;
}

.list_client_NL {

    position: absolute;
    width: 90%;
    text-align: center;
    border-collapse: separate;
    opacity: .66;
}

.btnBack {
    font-family: revert;
    position: absolute;
    margin: 12px auto;
    text-align: center;
    width: 100%;
    font-size: 20px;
    left: 0px;
}

td {
    font-weight: 900;
    color: #090909;
    border: 1px solid rgb(70, 69, 69);

}


#addNewClient {
    position: absolute;
    bottom: 2px;
}

@media only screen and (max-width: 500px) {
    * {
        font-size: 8px;
    }

    img {
        max-width: 125px;
    }
}