* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    background: url("./img/europe-map.avif") no-repeat, center;
    background-size: cover;

}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;

}
img {
    max-width: 155px;
}
.contaner {
   position: relative;
    display: grid;
    justify-items: center;
    align-content: space-around;
    justify-content: space-evenly;
    width: 100%;
    align-items: baseline;
}

.list_client_NL {

    position: absolute;
    width: 90%;
    text-align: center;
    border-collapse: separate;
    opacity: .66;
}

td {
    height: 27px;
    border: 1px solid rgb(70, 69, 69);
}

#addNewClient {
    position: absolute;
    bottom: 2px;
}
@media only screen and (max-width: 500px) {
    * {
      font-size: 8px;
    }
  }
